.column {
  flex: 250px 0 0;
  background: #ccc;
  border-radius: 6px;
  padding: 8px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 4px;
}

.header {
  font-size: 18px;
  line-height: 22px;
  margin-top: 4px;
  margin-bottom: 8px;
  font-weight: bold;
}
